@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

/* tekst stijl gehele website ------------------------------------------------------------------------------------------------------------ */
h1 { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 23px; 
}

h3 { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: bold; 
    line-height: 23px; 
} 

p { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
} 

blockquote { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
} 

pre { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 11px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
}

.headerStyleBody {
    padding-top: 35px;
    padding-bottom: 20px;
    font-size: 24px;
}

/* voorpagina website ------------------------------------------------------------------------------------------------------------ */
.paddingmarginZero {
    padding: 0;
    margin: 0;
}

.backgroundImg {
    background-image: url(/supportingfiles/images/background/backgroundMANTAX.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-size: fixed;
}

.headerStyle {
    background-color: transparent;
    text-align: center;
    height: 36px;
}

.MenuStyle {
    background-color: transparent;
    color: #dddddd;
    text-align: center;
    height: 50px;
}

.sidebarStyle {
    background-color: #ffffff;
    height: 400px;
    text-align: center;
    padding-top: 45px;
}

.contentAreaStyle {
    background-color: #ffffff;
    height: 400px;
    text-align: center;
    z-index: 1;
}

.footer1Style {
    background-color: #ffffff;
    color: #dddddd;
    height: 105px;
    text-align: center;
    z-index: -1;
}

.MenuStyle, a {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 15px;
    color: black;
    word-spacing: 30px;
}

.MenuStyle, a:hover {
    text-decoration: none;
    color: #e31a5c;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: darkgray;
  }

img.logoImg {
    height: 320px;
    width: 320px;
}

/* voorpagina website knop ------------------------------------------------------------------------------------------------------------ */
/* c92e5c = RazzMatazz, e31a5c = Radical Red */
button {
    position: relative;
    /* display:block; */
    height: 45px;
    width: 150px;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #e31a5c;
    border: 2px #e31a5c solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

.fade2:before{
    content:"→";
    position:absolute;
    color:#e31a5c;
    left: 88%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
}

.fade2:hover:before{
    left:91%;
    opacity:1;
}

.fade2:hover {
    border: 0px #fff solid;
    -webkit-transform: scale(1.04,1.04);
    -webkit-transition: border 0.3s ease-out;
    -webkit-transition: transform 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

/* gestapelde papieren effect voorpagina ------------------------------------------------------------------------------------------------------------ */
.letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 550px;
    max-height: 880px;
    padding: 24px;
    position: relative;
    width: 80%;
}

.letter:before, .letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

.letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

/* box rotate text voorpagina ------------------------------------------------------------------------------------------------------------ */
.box_rotate {
    float: right;
    position: relative;
    -moz-transform: rotate(90deg);  /* FF3.5+ */        
    -o-transform: rotate(90deg);  /* Opera 10.5 */   
    -webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */    
	margin-top: -140px;
    margin-right: 10px;
}

.box_rotate p {
    font-size: 17px; 
    color: #e31a5c;
}



